body {
	background-color: lightblue;
	color: red
}

#game {
    width: 100%;
      height: 100%;

    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#game-title {
	text-align: center;
	color: red;
	font-size: 30px;
	font-weight: bold;
	border-bottom-style: dashed;
	border-bottom-color: black;
}

#board-container {
    display: flex;
	margin: auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
    box-sizing: border-box;
	text-align: center;
}

.square {
    border: 3px dashed;
	border-color: black;
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
	font-weight: bold;
	
    /*display: flex;*/
}

#keyboard-container {
	margin: auto;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

button {
	background-color: pink;
	color: black;
	text-align: center;
	font-size: 24px;
	border-radius: 8px;
} 


/* uncomment this and see effect by moving mouse over square or touching square on a phone */
/*
.square:hover {
    background-color: rgb(200,200,200);
}
*/

/* uncomment these to see effect - visit on phone more likely than browser */
/*
.keyboard-row {
  display: flex;
  width: 100%;
}


.keyboard-row button {
  flex-grow: 1;
}
*/
